*{
    margin:0px;
    padding:0px;
}

nav{
    background-color: grey;
}

.logo{
    text-align: left;
    width:59%;
    padding-left: 1%;
}

.nav-item{
    width:9%;
    padding-right: 0.5%;
    padding-left: 0.5%;
}

.nav-item:hover{
    background-color: steelblue;
}
nav a{
    float:left;
    margin: 0 auto;
    background-color: grey;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding-top:2%;
    padding-bottom:2%;
}

.welcome-message{
    font-size: 2em;
    clear:left;
    text-align: center;
    padding-top:6%;
    padding-bottom:6%;
    background-color: steelblue;
}

.title{
    font-size: 1.5em;
    clear:left;
    text-align: center;
    padding-top:2%;
    padding-bottom:2%;
    width: auto;
}

.content-box{
    justify-content: center;
    align-items: center;
    padding-bottom:20%;
    margin:0 auto;
    background-color: lightblue;
    width:45%;
    height:10rem;
}


.box-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:6%;
    margin-right:6%;
    margin-top:2%;
    margin-bottom:2%;
    width:88%;
}

.content-box h3{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin:0 auto;
}

.content-box p{
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin:0 auto;
}

.show-more{
    justify-content: center;
    align-items: center;
    text-align: center;
    width:10%;
    padding: 1%;
    margin-left:45%;
    margin-right:45%;
    background-color: lightblue;
}

.hide{
    display: none;
}

.new-content-div div{
    margin:1rem;
    align-content: center;
    float: left;
}

.new-content-div div span{
    width:7rem;
    align-content: center;
    float: left;
}

.new-content-div{
    margin: 0 auto;
    width: 60%;
}

.add-content-in-box{
    clear: both;
    margin: 0 auto;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:10%;
    padding: 1%;
    margin-left:45%;
    margin-right:45%;
    background-color: lightblue;
}